html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color:#03A9F4;
}

.centeredContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

#background-container {
  height: 100%;
  width: 100%;
}
.tab-container.activated {
  /*background: grey;*/
  width: 100%;
  display: block;
  min-height: 300px;
}
.tab-container {
  display: none;
}

svg {
  display: inline-block;
}
.radioContainer {
  height: 100px;
}
.radioLabel {
  font-size: 26px;
  font-family: 'Ubuntu', sans-serif;
  float: left;
  height: 100%;
  color: white;
  opacity: .5;
  
  /*font-weight: bold;*/
  /*letter-spacing: 5px;*/
}
.radioLabel.selected{
  opacity: 1;
  transition: opacity 1s ease;
}
.radioButton {
  /*display: inline-block;*/
  float: left;
  height: 100%;
  max-width: 100px;
}

.radioButtonInner circle {
  fill: white;
}

.radioButtonInner.selected circle {
      /*scaleInnerOut .5s cubic-bezier(0.175, 0.885, 0.32, 1.275) .2s;*/

  transform-origin: 50% 50%;
  animation: scaleInnerUp .5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s
}

.radioButtonInner.selected ellipse {
  stroke: white;
  stroke-width: 5px;
  transform-origin: 50% 50%;
  animation: squishOuter .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.radioButtonInner.selected path {
  stroke: white;
  stroke-dashoffset: -45;
  stroke-dasharray: 0, 1000%;
  animation: dashPart1 .5s linear 0s, dashPart2 .5s linear .5s;
  animation-iteration-count: 1;
}

@keyframes dashPart1 {
  from {
    stroke-dashoffset: -45;
    stroke-dasharray: 1, 1000%;
  }
  to {
    stroke-dasharray: 20, 1000%;
    stroke-dashoffset: -25;
  }
}
@keyframes dashPart2 {
  from {
    stroke-dasharray: 20, 1000%;
    stroke-dashoffset: -25;
  }
  to {
    stroke-dasharray: 0, 1000%;
    stroke-dashoffset: -25;
  }
}

@keyframes scaleInnerUp {
  from {
    transform: scaleY(2);
  }
  to {
    transform: scaleY(1);
  }
}
@keyframes scaleInnerOut {
  from {
    transform: scaleX(2);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes squishOuter {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, .5);
  }
  100% {
    transform: scale(1, 1);
  }
}
